@inherits LayoutComponentBase

<div class="page row w-100 m-auto">
    <div class="header col-12">
       <NavMenu />
    </div>
    <AuthorizeView>
        <Authorized>
            <div id="sidebarColumn" class="col-2">
                <div class="sidebar">
                    <Conversation @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
                </div>
            </div>
            <main id="mainContent" class="col-10">
                <article class="container-fluid content px-4">
                    <BootstrapBlazorRoot>
                        @Body
                    </BootstrapBlazorRoot>
                </article>
            </main>
        </Authorized>
        <NotAuthorized>
            <main id="mainContent" class="col-12">
                <article class="container-fluid content px-4">
                    <BootstrapBlazorRoot>
                        @Body
                    </BootstrapBlazorRoot>
                </article>
            </main>
        </NotAuthorized>
    </AuthorizeView>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
