@inherits LayoutComponentBase

<div class="page row w-100 m-auto">
    <div class="header col-12">
       <NavMenu />
    </div>
    <div id="sidebarColumn" class="col-2">
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <Conversation @rendermode="new InteractiveWebAssemblyRenderMode(prerender: false)" />
                </div>
            </Authorized>
        </AuthorizeView>
    </div>
    <main id="mainContent" class="col-10">
        <article class="container-fluid content px-4">
            <BootstrapBlazorRoot>
                @Body
            </BootstrapBlazorRoot>
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
