@page "/"
@rendermode InteractiveServer

@inject ChatClient ChatClient;

<PageTitle>Home</PageTitle>

<div class="mt-4">
    <h2>Chat History</h2>
    <ul class="list-group">
        @foreach (var item in chatHistory)
        {
            <li class="list-group-item">@item.Message</li>
        }
    </ul>
</div>
<div class="form-group">
    <label for="userInput">Type your message:</label>
    <input type="text" id="userInput" class="form-control" @bind="userInput" />
    <button class="btn btn-primary mt-2" @onclick="SendMessage">Send</button>
</div>


@code {
    private string userInput = string.Empty;
    private List<ChatMessage> chatHistory = new List<ChatMessage>();

    private async Task SendMessage()
    {
        if (!string.IsNullOrWhiteSpace(userInput))
        {
            chatHistory.Add(new ChatMessage{ IsSystem = false, Message = userInput});         
            var result = await ChatClient.InvokeStreamAsync(new PromptRequest(userInput));
            userInput = string.Empty;
            var response = new ChatMessage { IsSystem = true, Message = "Agent:" };
            chatHistory.Add(response);
            await foreach (var item in result)
            {
                await Task.Delay(1);
                response.Message += item.Content;
                StateHasChanged();
            }            
        }
    }

    class ChatMessage
    {
        public bool IsSystem { get; set; }
        public string Message { get; set; }
    }
}
