@page "/testauth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

@inject NTG.Agent.Admin.Client.Services.TestClient TestClient

<h1>You are authenticated</h1>

From sever: <strong>@currentUser</strong>

@code {
    private string currentUser = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        currentUser = await TestClient.Test();
    }
}
